body {
    margin-bottom: 10%;
}

#footer {
    background: rgb(221,230,255);
    background: linear-gradient(90deg, rgba(221,230,255,1) 0%, rgba(223,181,156,1) 50%, rgba(231,141,210,1) 100%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-top: 1px solid black;
}

.aaa {
    background-color: #3b2d60;
    color: white;
    padding: 1%;
    margin: 1%;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    align-items: center;
    justify-content: center;
    height: fit-content;
}