body {
    margin: 0px;
    background: rgb(221,230,255);
    background: linear-gradient(90deg, rgba(221,230,255,1) 0%, rgba(223,181,156,1) 50%, rgba(231,141,210,1) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    width: 100%;
    background-color: #3b2d608c;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #3b2d60;
    border-radius: 5px;
    width: 15%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 2%;

    a {
        color: white;
        padding: 10%;
        border: 1px solid white;
        border-radius: 5px;
        margin: 5%;
        text-decoration: solid;
    }
}

#main {
    margin-top: 2%;
    display: flex;
}

.topMid {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mid {
    margin-right: 10%;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

h1, h2, h4 {
    color: black;
}