#grid {
    display: grid;
    background-color: green;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;
}

#grid2 {
    display: grid;
    background-color: red;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
}

.grid-item, .grid-item2 {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}